*.ipynb
*Rhistory
*.tsv
*xlsx
*.rds
*.sscore
*.profile
*.csv
*.yaml
*.config
*.png
*.bam
*.bai
*filenames.txt
*.vcf
**/archive/**
RareVar/2_scripts/RareVar_Classification/hcmr_rarevar_classifier.R
RareVar/2_scripts/RareVar_Classification/HCMR_RareVar_Classification.Rmd
*.log
*.tmp
*.ciw
*.ris

*.claude*
*.html
*.tiff
*.pdf